*{
    font-family: 'Goldman', cursive;
}

.botao-pedra:hover{
    background-color: red;
    transition: 1s;
}

.botao-papel:hover{
    background-color: red;
    transition: 1s;
}

.botao-tesoura:hover{
    background-color: red;
}